#welcome-container {
  display: flex;
  justify-content: center;
  height: 95vh;
  flex-direction: column;
  margin: 0.5rem 0 2rem 0;
}

#welcome-container #image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
}

#welcome-container #image-container #image {
  border-radius: 50%;
  width: 200px;
  height: auto;
}

@media (min-width: 768px) {
  #welcome-container {
    align-items: center;
    flex-direction: row;
    margin: 0;
  }

  #welcome-container #image-container {
    margin: 0 0 0 4rem;
  }

  #welcome-container #image-container #image {
    width: 270px;
  }
}
