#welcome-container {
  display: flex;
  justify-content: center;
  min-height: 70vh;
  margin: 3rem 0 10rem 0;
}

#welcome-container #image-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #welcome-container {
    align-items: center;
  }

  #welcome-container #image-container {
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #welcome-container {
    flex-direction: column;
    align-items: space-between;
  }

  #welcome-container #image-container {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}

#welcome-container #welcome-hero {
  height: auto;
}

#welcome-container #image-container #image {
  border-radius: 50%;
  width: 220px;
  height: auto;
}
