.slide__title-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.slide__title {
  width: 100%;
  background-color: #ccc0c0d2;
  padding: 0.5rem 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  margin: 0 auto;
  font-size: 1.1rem;
}

.slide__image {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .slide__title {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }
}
