/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

.app {
  position: relative;
}

.page {
  padding: 5vh 0 10vh 0;
  position: absolute;
  left: 0;
  right: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CSS Transitions */

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

/* Forms */

.form {
  width: 60vw;
  margin: 0 auto;
}

/* Success and error messages */

.form-msg {
  margin-top: 2rem;
  text-align: center;
  padding: 0 2vw;
  font-weight: bold;
}

.success-msg {
  color: #57a773;
}
.err-msg {
  color: #ee6352;
}
