.activity-caption {
  width: 60vw;
  height: auto;
  margin-bottom: 2rem;
  text-align: center;
}

.activity-caption h1 {
  font-weight: bold;
  font-size: 20px;
}

.activity-caption h3 {
  font-weight: lighter;
  font-size: 15px;
}

@media (min-width: 768px) {
  .activity-caption h1 {
    font-size: 25px;
  }

  .activity-caption h3 {
    font-size: 20px;
  }
}
