.post-list-item {
  width: 80%;
  margin: auto;
  padding: 1rem 1rem 1rem 1rem;
  display: block;
  border-bottom: 1px solid #e0e0e0;
  color: black;
}

.post-list-item:hover {
  background: #e0e0e0;
}

.post-list-item .title {
  margin: 0;
  margin-bottom: 0.5rem;
}

.post-list-item .date {
  display: inline-block;
  color: #949494;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.post-list-item .tag {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.2rem;
  border-radius: 4px;
  background: #0077ffa6;
  color: white;
  font-size: 1rem;
}

.post-list-item .tags {
  margin-bottom: 0.5rem;
}
