.post-list-item {
  width: 70vw;
  margin: auto;
  padding: 1vw;
  display: block;
  border-bottom: 1px solid #e0e0e0;
  color: black;
}

.post-list-item:hover {
  background: #e0e0e0;
}

.post-list-item .title {
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 20px;
}

.post-list-item .date {
  display: inline-block;
  color: #949494;
  font-weight: lighter;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.post-list-item .tag {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.3rem;
  border-radius: 4px;
  background: #0077ffa6;
  color: white;
  font-size: 15px;
}

.post-list-item .tags {
  margin-bottom: 0.5rem;
}
