#social-container .item {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  color: black;
}

#social-container .item:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
