#login-page {
  padding: 20vh 0;
}

#login-page h1 {
  text-align: center;
}

#login-page #msg {
  margin-top: 5vh;
  text-align: center;
}

#login-page #link {
  margin-top: 5vh;
  text-align: center;
}
