#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#login-container #form {
  margin-top: 5vh;
  width: 30vw;
}

#login-container #msg {
  margin-top: 3vh;
  text-align: center;
}

#login-container #link {
  margin-top: 5vh;
}
